*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #4c00d9;
    font-family: "Work Sans", sans-serif;
    color: #ffffff;

}

.img-profile{
    width: 80%;
    display: block; 
}

.vertical-align-center{
    align-items: center;
    justify-content: center;
    height: 100%;
}


.portfolio-section{
    width: 80%;
    max-width: 1380px;
    display: flex;
    margin: 20px auto;
    flex-direction: row;
    gap: 10px;
}

.section-title{
    width: 100%;
    display: block;
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}
.img-portfolio{
    width: 33%;
    padding: 20px;
    border-radius: 20px;
}

.education-card{
    text-align: center;
    width: 20%;
    padding: 10px;
}
.fa-solid{
    font-size: 50px;
    margin: 15px auto;
}

.year{
    font-size: 16px;
    font-weight: 700;
    background-color: #ffffff;
    color: #4c00d9;
    padding: 5px 10px;
    border-radius: 10px;
    width: 150px;
    display: block;
    margin: 20px auto;
}

.course{
    font-size: 25px;
    font-weight: 600;
    line-height: 1;
}

.institution{
    font-size: 15px;
    font-weight: 300;
}


.footer-section{
    width: 100vw;
    height: auto;
    background-color: #373737;
    padding: 30px;
}

.footer-section p{
    text-align: center;
    color: #ffffff;
}